<h1>This is TODO List App!</h1>

<div id="mainpage">
<h3>Parent Component</h3>



 <div id="link" style="display:inline-flex">
  <a> <h2 routerLink="">HOME</h2> </a>
  <a> <h2 routerLink="about" >ABOUT</h2> </a>
  <a> <h2 routerLink="employee" >EMPLOYEE</h2> </a>
</div>



<router-outlet></router-outlet> 

<!-- <div>
  <p>Name : <input #name type="text" /></p>
  <p>Marks : <input #marks type="text" /></p>
</div>

<button
  (click)="getData(name.value, marks.value); name.value = ''; marks.value = ''"
  style="margin-left:10px;"
>
  Submit
</button> -->

<!-- <app-child [childName]="objData.name" [childMarks]="objData.marks"></app-child> -->

</div>